body{
    background-color: rgb(152, 152, 158);
}

#form{
    background-color: rgb(152, 152, 158);
   align-self: center;
   text-align:center;
}

.table{
    background-color: rgb(209, 209, 168);
}

#areaU{
    background-color: rgb(209, 209, 168);
}
#filtrando{
    float: right;
}